<% user.errors.full_messages.each do |msg| %>
  <p><%= msg %></p>
<% end %>

<%= form_for user, html: { multipart: true } do |f| %>

  <%= f.label :screen_name %><br />
  <%= f.text_field :screen_name %><br /><br />
  <%= image_tag user.avatar.url(:thumb) %><br />
  <%= f.label :avatar, 'Change Avatar' %><br />
  <%= f.file_field :avatar %><br /><br />
  <%= f.submit %>

<% end %>
