<%= form_for user, html: { multipart: true } do |f| %>

  <%= f.label :screen_name %> <span class="error"><%= user.errors[:screen_name].join(', ') %></span><br />
  <%= f.text_field :screen_name %><br /><br />
  <%= image_tag user.avatar.url(:thumb) %><br />
  <%= f.label :avatar, 'Change Avatar' %><br />
  <%= f.file_field :avatar %><br /><br />
  <%= f.submit %>

<% end %>
