<%= form_for user, html: { multipart: true } do |f| %>
  <div>
    <%= f.label :screen_name %>
    <%= f.text_field :screen_name %>
  </div>

  <div>
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>

  <%= f.submit %>
<% end %>
