<%= image_tag 'encore.png', alt: 'Encore! A personal journal of live events.', id: 'welcome-logo' %>

<h1>Recent Reviews</h1>

<div id="reviews" class="clearfix">
  <%= render reviews %>
</div>

<p><%= link_to 'All Reviews', reviews_path %> | <%= link_to 'Write a Review', new_review_path %></p>

<h1>Recent Users</h1>

<div id="users" class="clearfix">
  <%= render users %>
</div>

<p><%= link_to 'All Users', users_path %> | <%= link_to 'Create a User', new_user_path %></p>

<h1>Recent Bands</h1>

<div id="bands" class="clearfix">
  <%= render bands %>
</div>

<p><%= link_to 'All Bands', bands_path %> | <%= link_to 'Create a Band', new_band_path %></p>
