<%= image_tag 'ticket.png', alt: 'Encore! Share your concert story with the world!', id: 'welcome-logo' %>

<h1>Recent Reviews</h1>
<h2><%= link_to 'Write Review', new_review_path %></h2>
<%= render reviews %>

<h1>Recent Users</h1>
<h2><%= link_to 'Create User', new_user_path %></h2>
<ul>
<% users.each do |user| %>
  <li><%= link_to user.screen_name, user %>
<% end %>
</ul>
