<% review.errors.full_messages.each do |msg| %>
  <p><%= msg %></p>
<% end %>

<%= form_for review do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <%= fields_for band do |b| %>
    <div>
      <%= b.label :name, 'Band' %>
      <%= b.text_field :name %>
    </div>
  <% end %>

  <div>
    <%= f.label :venue %>
    <%= f.text_field :venue %>
  </div>

  <%= f.fields_for :ticket do |t| %>
    <div>
      <%= t.label :event_code %>
      <%= t.text_field :event_code %>
    </div>

    <div>
      <%= t.label :section %>
      <%= t.text_field :section %>
    </div>

    <div>
      <%= t.label :row %>
      <%= t.text_field :row %>
    </div>

    <div>
      <%= t.label :seat %>
      <%= t.text_field :seat %>
    </div>

    <div>
      <%= image_tag review.ticket.stub.url(:thumb) %><br />
      <%= t.label :stub, 'Change Stub' %>
      <%= t.file_field :stub %>
    </div>
  <% end %>

  <div>
    <%= f.label :played_at, 'Day of the Concert' %>
    <%= f.date_field :played_at %>
  </div>

  <div>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div>
    <%= f.label :rating %>
    <%= f.select :rating, 1..5, include_blank: true %>
  </div>

  <div>
    <%= f.label :user_id %>
    <%= f.select :user_id, User.all.map {|u| [u.screen_name, u.id] }, include_blank: true %>
  </div>

  <%= f.submit 'Save' %>
<% end %>
