<%= form_for review do |f| %>

    <%= f.label :title %> <span class="error"><%= review.errors[:title].join(', ') %></span><br />
    <%= f.text_field :title %><br />

  <%= fields_for band do |b| %>
    <%= b.label :name, 'Band' %> <span class="error"><%= band.errors[:name].join(', ') %></span><br />
    <%= b.text_field :name %><br />
  <% end %>

  <%= f.label :venue %><br />
  <%= f.text_field :venue %><br />

  <%= f.label :played_at, 'Day of the Concert' %> <span class="error"><%= review.errors[:played_at].join(', ') %></span><br />
  <%= f.date_field :played_at %><br />

  <%= f.label :content %> <span class="error"><%= review.errors[:content].join(', ') %></span><br />
  <%= f.text_area :content %><br />

  <%= f.label :rating %> <span class="error"><%= review.errors[:rating].join(', ') %></span><br />
  <span id="star"></span><%= f.hidden_field :rating %><br />

  <%= f.label :user_id %> <span class="error"><%= review.errors[:user_id].join(', ') %></span><br />
  <%= f.select :user_id, User.all.map {|u| [u.screen_name, u.id] }, include_blank: true %><br /><br />

  <%= f.fields_for :ticket do |t| %>
    <fieldset>
      <legend>Ticket Stub</legend>

      <table>
        <tr>
          <td><%= image_tag review.ticket.stub.url(:thumb) %></td>
          <td>&nbsp;</td>
          <td><%= t.label :stub, 'Change Stub' %><br />
              <%= t.file_field :stub %>
          </td>
        </tr>
      </table>

      <table>
        <tr>
          <td><%= t.label :event_code %><br />
              <%= t.text_field :event_code %>
          </td>
          <td>&nbsp;</td>
          <td><%= t.label :section %><br />
              <%= t.text_field :section %>
          </td>
        </tr>
        <tr>
          <td><%= t.label :row %><br />
              <%= t.text_field :row %>
          </td>
          <td>&nbsp;</td>
          <td><%= t.label :seat %><br />
              <%= t.text_field :seat %>
          </td>
        </tr>
      </table>
    </fieldset><br />
  <% end %>

  <%= f.submit %>
<% end %>

<script>
  $('#star').raty({
    path      : '/images',
    score     : '<%= review.rating %>',
    target    : '#review_rating',
    targetType: 'number',
    targetKeep: true
  });
</script>
