<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Noto+Serif' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>

  <title>Encore! <%= content_for(:title) || media.try(:title) || 'Media' %></title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
</head>
<body>

  <div id="container">
    <p><%= link_to 'Reviews', reviews_path %> | <%= link_to 'Users', users_path %> | <%= link_to 'Bands', bands_path %></p>
    <%= link_to image_tag('encore-plain.png', alt: 'Encore! A personal journal of live events.', id: 'welcome-logo'), root_url %>

<%= yield %>

  </div>

  <script>
    $.fn.raty.defaults.hints = ['bad', 'poor', 'okay', 'good', 'great'];
    $.each($('.stars'), function(index, object) {
      var elm = $(object);
      elm.empty();
      elm.raty({
        readOnly: true,
        score: elm.data('number'),
        path: '/images'
      });
    });
    $(document).ready(function() {
      $('.fancybox').fancybox();
      $('.youtube').fancybox({
        maxWidth    : 800,
        maxHeight   : 600,
        fitToView   : false,
        width       : '70%',
        height      : '70%',
        autoSize    : false,
        closeClick  : false,
        openEffect  : 'none',
        closeEffect : 'none'
      });
    });
  </script>

</body>
</html>
